@page
@model SRAUMOAR.Pages.generales.ciclos.EditarModel

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar datos del ciclo</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Ciclo.Id" />
            <input type="hidden" asp-for="Ciclo.Activo" />
            
            <div class="form-group">
                <label asp-for="Ciclo.NCiclo" class="control-label"></label>
                <input asp-for="Ciclo.NCiclo" class="form-control" />
                <span asp-validation-for="Ciclo.NCiclo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ciclo.anio" class="control-label"></label>
                <input asp-for="Ciclo.anio" class="form-control" />
                <span asp-validation-for="Ciclo.anio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ciclo.FechaInicio" class="control-label"></label>
                <input asp-for="Ciclo.FechaInicio" class="form-control" />
                <span asp-validation-for="Ciclo.FechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ciclo.FechaFin" class="control-label"></label>
                <input asp-for="Ciclo.FechaFin" class="form-control" />
                <span asp-validation-for="Ciclo.FechaFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ciclo.CorrelativoCarnet" class="control-label"></label>
                <input asp-for="Ciclo.CorrelativoCarnet" class="form-control" />
                <span asp-validation-for="Ciclo.CorrelativoCarnet" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Actualizar datos" class="btn btn-primary" /> | <a asp-page="./Index" class="btn btn-success">Volver</a>
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
