@page
@model SRAUMOAR.Pages.inscripcion.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Inscripcion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Inscripcion.InscripcionId" />
            <div class="form-group">
                
                <label asp-for="Inscripcion.Fecha" class="control-label"></label>
                <input asp-for="Inscripcion.Fecha" class="form-control" />
                <span asp-validation-for="Inscripcion.Fecha" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Inscripcion.Activa" /> @Html.DisplayNameFor(model => model.Inscripcion.Activa)
                </label>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Inscripcion.AlumnoId" class="control-label"></label>
                <select asp-for="Inscripcion.AlumnoId" class="form-control" asp-items="ViewBag.AlumnoId"></select>
                <span asp-validation-for="Inscripcion.AlumnoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Inscripcion.GrupoId" class="control-label"></label>
                <select asp-for="Inscripcion.GrupoId" class="form-control" asp-items="ViewBag.GrupoId"></select>
                <span asp-validation-for="Inscripcion.GrupoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
