@page "/autenticacion/crearusuariodocente/{DocenteId:int}"

@model SRAUMOAR.Pages.Autenticacion.CrearUsuarioDocenteModel

@{
    ViewData["Title"] = "Crear Usuario Docente";
}

<h1 class="text-center">Creación de usuario para docente</h1>

<h4 class="text-center text-secondary mb-4">Docente: @Model.nombre</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
            <div class="mb-3">
                <label asp-for="Usuario.NombreUsuario" class="form-label">Nombre de usuario</label>
                <input asp-for="Usuario.NombreUsuario" class="form-control" readonly value="@Model.email" />
                <span asp-validation-for="Usuario.NombreUsuario" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Usuario.Clave" class="form-label">Clave</label>
                <input asp-for="Usuario.Clave" type="password" class="form-control" minlength="6" />
                <span asp-validation-for="Usuario.Clave" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Usuario.Email" class="form-label">Email</label>
                <input asp-for="Usuario.Email" type="email" class="form-control" readonly value="@Model.email" />
                <span asp-validation-for="Usuario.Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Usuario.NivelAccesoId" class="form-label">Nivel de acceso</label>
                <select asp-for="Usuario.NivelAccesoId" class="form-select" asp-items="ViewBag.NivelAccesoId"></select>
            </div>
            <div class="d-grid mb-3">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
        <div class="d-grid">
            <a asp-page="/generales/docentes/Index" class="btn btn-danger text-center">Cancelar</a>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
