@page
@model SRAUMOAR.Pages.grupos.CreateModel

@{
    ViewData["Title"] = "Registro de grupo";
}

<h1 class=" text-primary fw-bold mb-4 display-5">Registro de nuevo grupo</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" class="p-4 border rounded-3 shadow-sm bg-light">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

            <div class="form-group mb-3">
                <label asp-for="Grupo.Nombre" class="form-label"></label>
                <input asp-for="Grupo.Nombre" class="form-control" />
                <span asp-validation-for="Grupo.Nombre" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Grupo.Limite" class="form-label"></label>
                <input asp-for="Grupo.Limite" class="form-control" />
                <span asp-validation-for="Grupo.Limite" class="text-danger"></span>
            </div>

            <div class="form-group form-check mb-3">
                <input class="form-check-input" asp-for="Grupo.Activo" />
                <label class="form-check-label" asp-for="Grupo.Activo"></label>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Grupo.CarreraId" class="form-label"></label>
                <select id="carreraSelect" asp-for="Grupo.CarreraId" class="form-select" asp-items="ViewBag.CarreraId"></select>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Grupo.CicloId" class="form-label"></label>
                <select asp-for="Grupo.CicloId" class="form-select" asp-items="ViewBag.CicloId"></select>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Grupo.DocenteId" class="form-label"></label>
                <select asp-for="Grupo.DocenteId" class="form-select" asp-items="ViewBag.DocenteId"></select>
            </div>

            <div class="form-group text-center">
                <input type="submit" value="Registrar grupo" class="btn btn-success btn-lg me-2" />
                <a asp-page="Index" class="btn btn-outline-secondary btn-lg">Volver</a>
            </div>
        </form>

    </div>
</div>

<div>
   
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<script>
    document.getElementById("carreraSelect").addEventListener("change", function () {
        var carreraId = this.value;
        var pensumSelect = document.getElementById("pensumSelect");

        // Limpiar el combo de pensum
        pensumSelect.innerHTML = '<option value="">Seleccione un pensum</option>';

        if (carreraId) {
            fetch(`/vistasParciales/cboPensums?handler=PensumsByCarrera&carreraId=` + carreraId)
                .then(response => response.json())
                .then(data => {
                    data.forEach(pensum => {
                        var option = document.createElement("option");
                        option.value = pensum.pensumId;
                        option.text = pensum.nombrePensum;
                        pensumSelect.add(option);
                    });
                });
        }
    });
</script>
