@page
@model SRAUMOAR.Pages.actividades.CreateModel

        @{
        ViewData["Title"] = "Create";
        }
        
        <h1>Registrar actividad académica</h1>
        
    
    <hr />
    <div class="row">
    <div class="col-md-4">
        <div class="container-fluid px-4">
            <div class="card shadow-sm mb-4">
                <div class="card-body">
                    <form method="post" class="needs-validation" novalidate>
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>

                        <div class="row g-3">
                           @*  <div class="col-md-6 mb-3">
                                <label asp-for="ActividadAcademica.Fecha" class="form-label">
                                    <span class="text-danger">*</span> Fecha
                                </label>
                                <input asp-for="ActividadAcademica.Fecha" class="form-control" required />
                                <span asp-validation-for="ActividadAcademica.Fecha" class="text-danger"></span>
                            </div> *@

                            <div class="col-md-12 mb-3">
                                <label asp-for="ActividadAcademica.Nombre" class="form-label">
                                    <span class="text-danger">*</span> Nombre
                                </label>
                                <input asp-for="ActividadAcademica.Nombre" class="form-control" required />
                                <span asp-validation-for="ActividadAcademica.Nombre" class="text-danger"></span>
                            </div>
                            <div class="col-md-12 mb-3">
                                <label asp-for="ActividadAcademica.Porcentaje" class="form-label">
                                    <span class="text-danger">*</span> Porcentaje
                                </label>
                                <input asp-for="ActividadAcademica.Porcentaje" class="form-control" required />
                                <span asp-validation-for="ActividadAcademica.Porcentaje" class="text-danger"></span>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label asp-for="ActividadAcademica.FechaInicio" class="form-label">
                                    <span class="text-danger">*</span> Fecha de Inicio
                                </label>
                                <input asp-for="ActividadAcademica.FechaInicio" class="form-control" required />
                                <span asp-validation-for="ActividadAcademica.FechaInicio" class="text-danger"></span>
                            </div>

                            <div class="col-md-6 mb-3">
                                <label asp-for="ActividadAcademica.FechaFin" class="form-label">
                                    <span class="text-danger">*</span> Fecha de Fin
                                </label>
                                <input asp-for="ActividadAcademica.FechaFin" class="form-control" required />
                                <span asp-validation-for="ActividadAcademica.FechaFin" class="text-danger"></span>
                            </div>

                            <div class="col-md-6 mb-3">
                                <label asp-for="ActividadAcademica.CicloId" class="form-label">Ciclo</label>
                                <select asp-for="ActividadAcademica.CicloId" class="form-select" asp-items="ViewBag.CicloId">
                                    <option value="">Seleccionar Ciclo</option>
                                </select>
                            </div>

                            <div class="col-md-6 mb-3">
                                <label asp-for="ActividadAcademica.ArancelId" class="form-label">Arancel requerido</label>
                                <select asp-for="ActividadAcademica.ArancelId" class="form-select" asp-items="ViewBag.ArancelId">
                                    <option value="">Seleccionar Arancel</option>
                                </select>
                            </div>

                            <div class="col-12">
                                <div class="d-flex justify-content-between align-items-center">
                                    <input type="submit" value="Crear" class="btn btn-primary" />
                                    <a asp-page="Index" class="btn btn-outline-secondary">Volver a la Lista</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
