@page
@model SRAUMOAR.Pages.generales.profesiones.DetailsModel

@{
    ViewData["Title"] = "Detallles";
}
<!DOCTYPE html>
<html lang="es">
<body>
    <header class="bg-primary text-white text-center py-4">
        <h1>Detalles de Profesiones</h1>
    </header>
    <div class="container mt-5">
        <div class="card shadow-lg">
            <div class="card-header bg-dark text-white text-center">
                <h4 class="fs-4 fw-semibold text-white formal-text">Profesión</h4>
            </div>
            <div class="card-body">
                <dl class="row mb-0">
                    <dt class="col-sm-4 text-left fw-semibold fs-5 fw-semibold bi bi-briefcase">
                        @Html.DisplayNameFor(model => model.Profesion.NombreProfesion)
                    </dt>
                    <dd class="col-sm-4 text-left fw-semibold fs-5 fw-semibold bi bi-info-circle">
                        @Html.DisplayFor(model => model.Profesion.NombreProfesion)
                    </dd>
                </dl>
            </div>
            <div class="card-footer text-end">
                <a asp-page="./Edit" asp-route-id="@Model.Profesion.ProfesionId" class="btn btn-primary">
                    <i class="bi bi-pencil-square"></i> Editar
                </a>
                <a asp-page="./Index" class="btn btn-secondary ms-2">
                    <i class="bi bi-arrow-left"></i> Volver a la lista
                </a>
            </div>
        </div>
    </div>
</body>
</html>

