@page
@model SRAUMOAR.Pages.generales.municipio.CreateModel

@{
    ViewData["Title"] = "Nuevo";
}

<!DOCTYPE html>
<html lang="es">
<body>
    <header class="bg-primary text-white text-center py-3 mb-4">
        <h1>Nuevo Municipio</h1>
    </header>
    <hr />
    <div class="container mt-5">
        <div class="card shadow-lg">
            <div class="card-header bg-dark text-white text-center">
                <h4 class="fs-4 fw-semibold text-white formal-text">Municipio</h4>
            </div>
            <div class="container mt-1">
                <div class="row justify-content-center">
                    <div class="col-md-5">
                        <div class="card-body">
                            <form method="post">
                                <div asp-validation-summary="ModelOnly" class="alert alert-danger d-flex align-items-center" role="alert"></div>
                                <div class="mb-3">
                                    <label asp-for="Municipio.NombreMunicipio" class="form-label fs-4 fw-semibold text-dark formal-text">Nombre del Municipio</label>
                                    <br>
                                    <br>
                                    <div class="input-group">
                                        <span class="input-group-text"><i class="bi bi-building"></i></span>
                                        <input asp-for="Municipio.NombreMunicipio" class="form-control" placeholder="Ingrese el nombre del Municipio
" />
                                    </div>
                                    <br>
                                    <span asp-validation-for="Municipio.NombreMunicipio" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Municipio.MunicipioId" class="form-label fs-4 fw-semibold text-dark formal-text">Distrito</label>
                                    <br>
                                    <br>
                                    <div class="input-group">
                                        <span class="input-group-text"><i class="bi bi-map-fill"></i></span>
                                        <select asp-for="Municipio.DistritoId" class="form-control" asp-items="ViewBag.DistritoId"></select>
                                    </div>
                                    <br>
                                    <span asp-validation-for="Municipio.DistritoId" class="text-danger"></span>
                                </div>
                                <div class="d-grid gap-2">
                                    <button type="submit" class="btn btn-primary btn-lg">
                                        <i class="bi bi-plus-circle"></i> Crear
                                    </button>
                                </div>
                                <br>
                            </form>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mt-3">
        <a asp-page="Index" class="btn btn-outline-secondary">
            <i class="bi bi-arrow-left"></i> Volver a la lista
        </a>
    </div>
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>