@page
@model SRAUMOAR.Pages.generales.usuarios.usuariosalumnosModel

@{
    ViewData["Title"] = "Usuarios del sistema";
}

<h1>Administración de usuarios</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Usuario
            </th>
            <th>
                Rol
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Usuario) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NivelAcceso.Nombre)
            </td>
            <td>
                    @Html.Raw(item.Activo.Value==true
                             ? $"<a href='autenticacion/desactivarusuario/{item.IdUsuario}' class='btn btn-danger'>Desactivar</a>"
                             : $"<a href='autenticacion/activarusuario/{item.IdUsuario}' class='btn btn-success'>Activar</a>")
                
            </td>
        </tr>
}
    </tbody>
</table>
