@page
@model SRAUMOAR.Pages.generales.facultad.EditModel

@{
    ViewData["Title"] = "Editar";
}
<header class="bg-primary text-white text-center py-3 mb-4">
    <h1> Edición Facultad</h1>
</header>
<hr />
<div class="container mt-5">
    <div class="card shadow-lg">
        <div class="card-header bg-dark text-white text-center">
            <h4 class="fs-4 fw-semibold text-white formal-text">Facultad</h4>
        </div>
        <div class="container mt-1">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="card-body">
                        <form method="post">
                            <div asp-validation-summary="ModelOnly" class="alert alert-danger d-flex align-items-center" role="alert"></div>
                            <input type="hidden" asp-for="Facultad.FacultadId" />
                            <div class="mb-3">
                                <label asp-for="Facultad.NombreFacultad" class="form-label fs-4 fw-semibold text-dark formal-text">Facultad</label>
                                <br>
                                <br>
                                <div class="input-group">
                                    <span class="input-group-text"><i class="bi bi-mortarboard"></i></span>
                                    <input asp-for="Facultad.NombreFacultad" class="form-control" placeholder="Ingrese el nombre del departamento" />
                                </div>
                                <br>
                                <span asp-validation-for="Facultad.NombreFacultad" class="text-danger"></span>
                            </div>
                            <div class="input-group">
                                <label class="form-check-label fs-4 fw-semibold text-dark formal-text">
                                    <input class="form-check-input " asp-for="Facultad.Activa" />
                                    <i class="bi bi-toggle-on"></i> @Html.DisplayNameFor(model => model.Facultad.Activa)
                                </label>
                            </div>
                            <br>
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-primary btn-lg">
                                    <i class="bi bi-arrow-clockwise"></i> Actualizar
                                </button>
                            </div>
                            <br>
                        </form>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="text-center mt-3">
    <a asp-page="Index" class="btn btn-outline-secondary">
        <i class="bi bi-arrow-left"></i> Volver a la lista
    </a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
